/* market place */
.flex-colm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-underline {
    text-decoration: none;
    color: rgb(6, 6, 74);
}

.icon-size1 {
    font-size: 14px;
    margin: 5px;
    border-radius: 50%;
    background-color: rgb(210, 209, 209);
    width: 28px;
    height: 28px;
    padding: 6px 5px;
}

.icon-size1:hover,
.active-icon {
    color: white;
    background-color: #120748;
}

.selfmade {
    padding: 7px 6px;
}

.vehicle {
    padding: 7px 7px;
}

.mobile {
    padding: 7px 9px;
}

.accessories {
    padding: 6px 8px;
}

.icon-size:hover {
    color: #241475;
}

.circle-img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-block: 5px;
}

@media only screen and (max-width : 890px) {
    .icon-size1 {
        font-size: 12px;
        margin: 5px;
        border-radius: 50%;
        background-color: rgb(210, 209, 209);
        width: 24px;
        height: 24px;
        padding: 6px 5px;
    }
}
@media only screen and (max-width : 510px) {
    .flex-row1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icon-size1 {
        /* background-color: rgb(210, 209, 209); */
        font-size: 11px;
        margin: 5px;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        padding: 6px 5px;
    }
}